.field-filter-set,
.field-sort-set,
.field-column-set {
	width: 100%;
	padding: 5px 15px;
	background-color: #e9e9e9;
	border: 2px solid #e4e4e4;
	border-radius: 5px;
	margin: 5px 0px;
}
.field-filter-set .form-item,
.field-sort-set .form-item,
.field-column-set .form-item {
	display: inline-block;
}